Repository illinois-ceesd/mirgecom, pull requests merged in 2021-03, with the labels that each got.

#267 logging: allow explicit time setting for restart
  mirgecom/logging_quantities.py
Labels: logging

#255 logging: add GPU memory consumption on Nvidia
  examples/vortex-mpi.py
  mirgecom/logging_quantities.py
Labels: logging

#278 Fix cruddy render of boundary section in gas-dynamics doc
  mirgecom/boundary.py
Labels: documentation

#274 Move wavespeed to fluid module.
  mirgecom/euler.py
  mirgecom/fluid.py
Labels: navier-stokes, refactor
